/build/HelloiOS.build/Debug-iphonesimulator/HelloiOS.build/build-state.dat
/build/HelloiOS.build/HelloiOS.pbxindex/pbxindex.header
/build/HelloiOS.build/HelloiOS.pbxindex/strings.pbxstrings/control
/build/HelloiOS.build/HelloiOS.pbxindex/symbols0.pbxsymbols
/HelloiOS.xcodeproj/Simone.mode1v3
/HelloiOS.xcodeproj/Simone.pbxuser